@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #94CED0 0%, #BFEAEC 100%);
  --foreground: #171717;
  --main-text-color: #0F2969;
  --main-color: #94CED0;
  --white: #ffffff;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #472E73 0%, #23257B 39.74%, #642512 82.81%, #803E05 100%);
    --foreground: #ededed;
    --main-text-color: #ffffff;
    --main-color: #94CED0;
    --white: #ffffff;
    --black: #000000;
  }
}

body {
  color: var(--main-text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
