@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #3C73FF 0%, #BFEAEC 100%);
  --foreground: #171717;
  --main-color: #0A99FF;
  --main-text-color: #0A99FF;
  --secondary-text-color: #0F2969;
  --inherit-main-text-color: #0F2969;
  --inherit-main-color: #0F2969;
  --error-color: #D36F6F;
  --white: #ffffff;
  --black: #000000;
  --icon-button-background: #0000000A;
  --input-background: #D9D9D966;
  --placeholder-color: #ABABAB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #201C27 0%, #063E7F 100%);
    --foreground: #ededed;
    --main-text-color: #ffffff;
    --secondary-text-color: #ffffff;
    --inherit-main-text-color: #0F2969;
    --inherit-main-color: #0F2969;
    --main-color: #0A99FF;
    --error-color: #D36F6F;
    --white: #ffffff;
    --black: #000000;
    --icon-button-background: #0000000A;
  }
}

body {
  color: var(--secondary-text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .background-gradient {
    background: var(--background);
  }

  .radio-group-item {
    width: calc(50% - 0.3125rem);
  }
}
